TodoApi/.vs
TodoApi/bin
TodoApi/obj
TodoApi/.DS_Store
MyTasks/MyTasks/Packages/.DS_Store
MyTasks/MyTasks.xcodeproj/project.xcworkspace
MyTasks/MyTasks.xcodeproj/xcuserdata
MyTasks/MyTasks/.DS_Store
.DS_Store
